<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>  
</head>
<body>
    <%- include("../partials/navbar") %> 
    <h2>web server with express and ejs template engine</h2>
    <%- include("../partials/scripts") %> 
</body>
</html>