<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>  
</head>
<body>
    <%- include("../partials/navbar") %> 
    <h2>amiralamian10@gmail.com</h2>
    <h2>09214698677</h2>
    <%- include("../partials/scripts") %> 
</body>
</html>